<footer>
    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <h3>Contact</h3>
                <p class="text-justify">Une demande particulière ? N'hésitez-pas à me contacter !</p>
            </div>
            <div class="col-4 text-center">
                <img src="{{ asset('assets/logo/logo-lettres-90px.png') }}" alt="">
            </div>
            <div class="col-4 text-center">
                <h3>Plan du site</h3>
                <a href="#">Accueil</a> <br>
                <a href="#">Contact</a>
            </div>
        </div>
    </div>
</footer>
